@model IEnumerable<B.Models.DivisionResponse>;

@{
    ViewData["Title"] = "Division List";
}


<script>

    function displayData(data) {
        let table = document.getElementById("content");
        while (table.firstChild)
            table.removeChild(table.firstChild);
        let length = data.length;
        for (let i = 0; i < length; i++) {
            if (data[i].parentName == null || data[i].parentName == '')
                data[i].parentName = '[absent]';
            $("#content").append('<tr><td>' + data[i].name + '</td><td>' + data[i].status + '</td><td>' + data[i].parentName + '</td></tr>');
        }
    }

    function update()
    {
        $.get("Update",
            {},
            function(data)
            {
                displayData(data);
            });
    }

    function sort(str)
    {
       $.get("Find/" + str,
                {
                    search: str.value
                },
                function(data) {
                    displayData(data);
                });
    }

    let timerId = setInterval(update, 3000);
    
    function find(str) 
    {
        clearInterval(timerId);        
        if (str != "")
            sort(str)
        else
        { 
            update();
            let timerId = setInterval(update, 3000);
        }
    }

    function clearSearch()
    {
        let searchInput = document.getElementById("search");
        searchInput.value="";
        find(searchInput.value);
    }

</script>

<div>    
    <div class="hstack gap-5">
        <input id="search" class="form-control me-auto" value="" placeholder="Search here..." type="search" autocomplete="off" oninput="find(this.value);return false;">
        <button type="button" class="btn btn-outline-secondary" style="font-weight:700; font-size:medium; width: 100px;" onclick="clearSearch()">
            Reset
            <img src="https://img.icons8.com/windows/15/000000/cancel.png" />
        </button>
    </div>
    

    @if (Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                         @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                         @Html.DisplayNameFor(model => model.ParentName)
                    </th>                    
                </tr>
            </thead>
            <tbody id="content">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ParentName)
                        </td>                   
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h2>Здесь пока пусто</h2>
    }
    <div style="text-align:right;font-weight:700">        
        <a asp-action="Synchronization" class="btn btn-secondary">Synchronization <img width="15" height="15" src="https://img.icons8.com/ios-glyphs/30/000000/synchronize.png" alt="Synchronization icon" /></a>
    </div>
    
</div>