@model IEnumerable<B.Models.DivisionModel>
@{
    ViewData["Title"] = "Home Page";
}
<script>
    setTimeout(function () {
        window.location.reload(1);
    }, 3000);
</script>

<div>
    @if (Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ParentName)
                    </th>                    
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ParentName)
                        </td>                   
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h2>Здесь пока пусто</h2>
    }

    <a asp-action="Synchronization" class="btn btn-sm btn-success">
        <i class="fa-solid fa-plus">
            Synchronization
        </i>
    </a>
</div>